<div class="navbar">
  <div class="navbar-title">
  <%= link_to root_path do  %>
    <h2 class="hvr-underline-reveal">ASSELIN GAUTHIER</h2>
  <% end %>
    <p class="body">Chef opérateur | Director of photography</p>
  </div>

  <div class="navbar-content">
    <ul>
      <% if user_signed_in? && current_user.admin == true %>
      <li class="nav-item">
          <%= link_to "Add a project", new_project_path, class: "nav-link hvr-underline-reveal" %>
      </li>
      <% end %>
      <li class="nav-item">
          <%= link_to "Music Videos", music_videos_path, class: "nav-link hvr-underline-reveal" %>
      </li>
      <li class="nav-item">
          <%= link_to "Commercials", commercials_path, class: "nav-link hvr-underline-reveal" %>
      </li>
      <li class="nav-item">
          <%= link_to "Contact", "#", class: "nav-link hvr-underline-reveal" %>
      </li>
    </ul>
  </div>

</div>