
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000" data-ride="true" data-pause="false">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li> 
    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li> 
  </ol>
  <div class="carousel-inner ">
    <div class="carousel-item active ">
      <%= image_tag "1.jpg", class:"d-block w-100", alt:"First slide" %>
      <div class="carousel-caption d-none d-md-block">
        <p>ASSELIN GAUTHIER</p>
        <p>Director of photography</p>
          <div class="caption-index">
            <%= link_to "Music Videos", music_videos_path, class: "nav-link" %>
            <%= link_to "Commercials", commercials_path, class: "nav-link" %>
          </div>
      </div>
    </div>
    <div class="carousel-item ">
      <%= image_tag "2.jpg", class:"d-block w-100", alt:"Second slide" %>
      <div class="carousel-caption d-none d-md-block">
        <p>ASSELIN GAUTHIER</p>
        <p>Director of photography</p>
          <div class="caption-index">
            <%= link_to "Music Videos", music_videos_path, class: "nav-link" %>
            <%= link_to "Commercials", commercials_path, class: "nav-link" %>
          </div>
      </div>
    </div>
    <div class="carousel-item ">
      <%= image_tag "3.jpg", class:"d-block w-100", alt:"Third slide" %>
      <div class="carousel-caption d-none d-md-block">
        <p>ASSELIN GAUTHIER</p>
        <p>Director of photography</p>
          <div class="caption-index">
            <%= link_to "Music Videos", music_videos_path, class: "nav-link" %>
            <%= link_to "Commercials", commercials_path, class: "nav-link" %>
          </div>
      </div>
    </div>
    <div class="carousel-item ">
      <%= image_tag "4.jpg", class:"d-block w-100", alt:"Fourth slide" %>
      <div class="carousel-caption d-none d-md-block">
        <p>ASSELIN GAUTHIER</p>
        <p>Director of photography</p>
          <div class="caption-index">
            <%= link_to "Music Videos", music_videos_path, class: "nav-link" %>
            <%= link_to "Commercials", commercials_path, class: "nav-link" %>
          </div>
      </div>
    </div>
    <div class="carousel-item ">
      <%= image_tag "5.jpg", class:"d-block w-100", alt:"Fifth slide" %>
      <div class="carousel-caption d-none d-md-block">
        <p>ASSELIN GAUTHIER</p>
        <p>Director of photography</p>
          <div class="caption-index">
            <%= link_to "Music Videos", music_videos_path, class: "nav-link" %>
            <%= link_to "Commercials", commercials_path, class: "nav-link" %>
          </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    
    </div>
  </div>
</div>

