

<div class="container-fluid m-2">
  <%= link_to "All", projects_path  %>
  <%= link_to "CLIPS", projects_path(category: "clip")%>
  <%= link_to "COMMERCIALS", projects_path(category: "pub")%>
  <%= link_to "REEL", projects_path(category: "reel")%>

  <% @projects.each do |project| %>
    <%= render "projects/project", project: project %>
  <% end %>
</div>

