<div class="container">
  <div class="row">
    <div class="col-12 col-lg-12 col-md-12">
      <div class="project-content text-center">
        <div class="first-image">
          <%= cl_image_tag @project.photos.first.key %>
        </div>
        <div class="project-details">
          <div class="artist-details">
            <p class="artist bold"><%= @project.artist %></p>
            <p class="project"><%= @project.name %></p>
          </div>
          <div class="prod-details">
            <p class="real">Réalisé par <span class="bold"><%= @project.director.upcase %></span></p>
            <p class="prod">Produit par <span class="bold"><%= @project.producer.upcase %></span></p>
          </div>
        </div>
        

        



        <div class="embed-responsive embed-responsive-<%= @project.format %> mb-4">
          <iframe src="<%= @project.url %>" allowfullscreen></iframe>
        </div>
      </div>      
    </div>
  </div>
  <div class="row">
    <% @project.photos.each do |photo| %>
      <div class="col-12" data-aos="fade-in">
        <div class="screenshot">
        <%= cl_image_tag photo.key, alt: @project.name + " " + @project.artist %>
        </div>
      </div>
    <% end %>
  </div>



  <% if user_signed_in? && current_user.admin? %>
    <div class="row flex-column align-items-center">
        <%= link_to "Edit this project", edit_project_path(@project.id), class: "btn btn-secondary"  %>
        <%= link_to project_path(@project.id),
          method: :delete,
          data: {confirm: "T'es sur gros ??"} do %>
          <i class="fas fa-trash mt-4"></i>
          <% end %>
    </div>
    <% end %>
</div>