<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 col-md-12">
      <div class="arrow-back">
        <%= link_to music_videos_path do%>
            <i class="fas fa-arrow-left"></i>
        <% end %>
      </div>
      <div class="project-content text-center">
        <h1 class="title"><%= @project.artist %> / <%= @project.name %></h1>
        <h2 class="title">Réalisé par <%= @project.director %></h2>
        <h2 class="title">Produit par <%= @project.producer %></h2>

        <div class="embed-responsive embed-responsive-<%= @project.format %> mb-4">
          <iframe src="<%= @project.url %>" allowfullscreen></iframe>
        </div>
      </div>      
    </div>
  </div>
  <div class="row">
    <% @project.photos.each do |photo| %>
      <div class="col-12" data-aos="fade-in">
        <div class="screenshot">
        <%= cl_image_tag photo.key, alt: @project.name + " " + @project.artist %>
        </div>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? && current_user.admin? %>
    <div class="row flex-column align-items-center">
        <%= link_to "Edit this project", edit_project_path(@project.id), class: "btn btn-secondary"  %>
        <%= link_to project_path(@project.id),
          method: :delete,
          data: {confirm: "T'es sur gros ??"} do %>
          <i class="fas fa-trash mt-4"></i>
          <% end %>
    </div>
    <% end %>
</div>