<!DOCTYPE html>
<html>
  <head>
    <title>Asselin Gauthier - Cinematographer</title>
    <meta name="description" content=" Asselin Gauthier - Chef opérateur à Paris pour l'industrie cinématographique, publicitaire et musicale">
    <meta charset="utf-8">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta property="og:title" content="Asselin Gauthier - Chef opérateur / Director of photography">
    <meta property="og:image" content="1.jpg">
    <meta property="og:description" content="Chef opérateur à Paris pour l'industrie cinématographique, publicitaire et musicale">
    <meta property="og:site_name" content="Asselin Gauthier - Chef opérateur"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag %>
  </head>

  <body id="<%= controller_name %>-<%= action_name %>">
    <% if params[:action] != "home" %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= render 'shared/flashes' %>
    <div class="page-content">
      <%= yield %>
    </div>
  </body>
</html>
